extends layout

block content
  h1 Search Results - Inventions

  - 
    const results = [
      {name: 'Telephone', year: 1876, inventor: 'Alexander Graham Bell'},
      {name: 'Light Bulb', year: 1879, inventor: 'Thomas Edison'},
      {name: 'Airplane', year: 1903, inventor: 'Wright Brothers'}
    ]

  .container-fluid
    .row
      each item, index in results
        div.col-sm-2(onclick=`buy(${index})`)
          h3 #{item.name}
          p Year: #{item.year}
          p Inventor: #{item.inventor}
  
  a(href='/') Back to Home

  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }